# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.env
.env
.venv
venv/
.DS_Store

# IDE
.vscode/
.idea/

# Runtime
logs/
tmp/
Docs/NanoBananaPro.md
Docs/NewApiNanoBananaPro.md
Docs/newapidocsv2/gemini-3-pro-image-edit-simple.py
Docs/newapidocsv2/gemini-3-pro-image-edit.py
Docs/newapidocsv2/gemini-3-pro-text-to-image-simple.py
Docs/newapidocsv2/gemini-3-pro-text-to-image.py
Docs/newapidocsv2/Newapiv2.md
deploy logs.txt
